<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multter app</title>
</head>

<body>
    <div>
        <p></p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" />
            <button type="submit">Upload</button>
        </form>
    </div>

    <div>
        <h1>Uploaded Images</h1>
        <div>
            <!-- <img src="" alt=""> -->
        </div>
    </div>

</body>

</html>